<%- include('../partials/header') %>

<main class="main" id="main">
    <h2 class="home-title">Recipe Home Page</h2>
    <h3 class="home-header">Proof of concept</h3>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi repellat magni earum placeat, suscipit ullam consectetur laboriosam accusantium labore praesentium harum facilis, veritatis tenetur fugiat neque odit voluptas accusamus quam necessitatibus error minima corporis nam ratione. Quia eligendi distinctio magnam doloremque sit itaque inventore deserunt non natus temporibus rerum ullam reprehenderit hic nobis nam placeat unde eaque eveniet, facere commodi ipsam, perspiciatis cupiditate. Aspernatur, numquam, suscipit fuga delectus ipsum id ex libero impedit vitae, perferendis commodi deserunt repellat totam excepturi hic quia cupiditate odio nam officia possimus maiores pariatur corporis. Quia labore illo quod, reiciendis, soluta ut consequatur nesciunt aliquid quos tempore possimus ipsa distinctio et minima temporibus cupiditate vero, delectus autem aut odit veniam. Delectus ducimus omnis corrupti alias nemo veritatis repellat autem, excepturi blanditiis fuga, placeat inventore tempora, quis dolorem. Expedita vero quidem magni optio accusamus laboriosam officiis illo explicabo dolorem, provident corrupti, quae magnam tempora temporibus ea velit dolores eveniet impedit, voluptatum eos ab delectus sed cum? Soluta dolore molestias ab autem natus repellat suscipit ea, impedit odit sunt rem, at quam excepturi quidem corporis adipisci obcaecati velit blanditiis. Nemo, saepe delectus. Eius adipisci maiores molestiae, corrupti voluptates voluptas! Doloribus saepe fugiat ducimus dignissimos corrupti, pariatur fuga?</p>
</main>

<%- include('../partials/footer') %> 