<%- include('../partials/header') %>

<main class="main" id="main">
    <h2 class="single-recipe-title"><%= data.title %></h2>
        <p class="ingredients"><%= data.ingredients %></p>
</main>

<%- include('../partials/footer') %> 